.feedItem {
  margin-bottom: 3rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.title a {
  color: var(--color-accent);
  box-shadow: none;
  text-decoration: none;
}

.title a:hover {
  filter: brightness(1.3);
}

.subtitle {
  opacity: 0.8;
}

.link {
  color: var(--color-accent);
  box-shadow: none;
  text-decoration: none;
}

.link:hover {
  filter: brightness(1.3);
}


