.tag {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-text-body);
  padding: 0.125rem 0.375rem;
  border: 1px solid var(--background-hr);
  border-radius: 0.125rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
}
