.header {
  padding: 10px 0;
}

.nav {
  color: white;
  display: flex;
  align-items: center;
  height: 80px;
}

.navLinkContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navLink {
  opacity: 0.5;
  text-decoration: none;
}

.navLinkActive {
  opacity: 1;
}

.navLink:hover {
  opacity: 1;
}
