.subtitle {
  font-size: 0.83255rem;
  line-height: 1.75rem;
  display: block;
  margin-bottom: 1.75rem;
  margin-top: -1.75rem;
}

.article {
  margin-bottom: 3.5rem;
  margin-top: -0.3rem;
}

.linkOut {
  margin-bottom: 1.75rem;
  opacity: 0.8;
}
