.BurgerIcon,
.BurgerIcon.open {
  cursor: pointer;
  padding: 10px;
  z-index: 50;
}

.BurgerIcon-bar1,
.BurgerIcon-bar2,
.BurgerIcon-bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.BurgerIcon.open .BurgerIcon-bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.BurgerIcon.open .BurgerIcon-bar2 {
  opacity: 0;
}

.BurgerIcon.open .BurgerIcon-bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
