header {
  background-color: var(--primary-color);
  background: var(--gradient-background);
  padding: 10px 0;
}

header nav {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  color: white;
}
