name: Verify changes

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile --ignore-scripts
      - run: pnpm run verify
